.adn {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputBox {
    display: block;
    padding: 0.375rem 0.75rem;
    font: 16px / 26px hind, sans-serif;
    color: rgb(73, 80, 87);
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgb(206, 212, 218);
    transition: border-color 0.15s ease-in-out 0s;
    box-shadow: 0.15s ease-in-out 0s;
    height: 40px;
    outline: none;
    border-radius: 0px;
    appearance: none;
}
.errMsg {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}